#sketch-holder{
    position:absolute;
    left: 680px;
  
}
body {
    padding: 0;
    margin: 0;
  }


th{
    font-size: 1.1em;
    text-align: left;
    background-color: blue;
    color: white;
    padding-bottom: 4px;
}

td{
    color: #000000;
    background-color:cornflowerblue;
}

td:hover{
    color: #fff !important;
}